In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('datasets/budget_income.csv')

In [3]:
df.head()

,Rank,ReleaseDate,Movie,ProductionBudget,DomesticGross,WorldwideGross
0,1,"Apr 23, 2019",Avengers: Endgame,"$400,000,000","$858,373,000","$2,797,800,564"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$379,000,000","$241,071,802","$1,045,713,802"
2,3,"Apr 22, 2015",Avengers: Age of Ultron,"$365,000,000","$459,005,868","$1,395,316,979"
3,4,"Dec 16, 2015",Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,065,478,084"
4,5,"Apr 25, 2018",Avengers: Infinity War,"$300,000,000","$678,815,482","$2,044,540,523"

In [4]:
def clean(x):
    return(x.replace('$', '').replace(',', ''))

df['ProductionBudget'] = df['ProductionBudget'].apply(clean).astype(float)
df['DomesticGross'] = df['DomesticGross'].apply(clean).astype(float)
df['WorldwideGross'] = df['WorldwideGross'].apply(clean).astype(float)

In [5]:
df.head()

,Rank,ReleaseDate,Movie,ProductionBudget,DomesticGross,WorldwideGross
0,1,"Apr 23, 2019",Avengers: Endgame,400000000.0,858373000.0,2.797801e+09
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,379000000.0,241071802.0,1.045714e+09
2,3,"Apr 22, 2015",Avengers: Age of Ultron,365000000.0,459005868.0,1.395317e+09
3,4,"Dec 16, 2015",Star Wars Ep. VII: The Force Awakens,306000000.0,936662225.0,2.065478e+09
4,5,"Apr 25, 2018",Avengers: Infinity War,300000000.0,678815482.0,2.044541e+09

In [6]:
df = df[(df[['DomesticGross','WorldwideGross']] != 0).all(axis=1)]

In [7]:
df = df.drop(columns= ['Rank', 'ReleaseDate', 'Movie', 'DomesticGross'])

In [8]:
df.to_csv('datasets/clean.csv', index= False)